@use 'src/styles/vars';

.mails {
    background-color: #EDF0F7;
    height: 100vh;
    min-width: 420px;
    width: 30%;

    //CSS sur InputMail
    .input-mail {
        margin: 1.5rem 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__field {
            position: relative;

            input {
                padding: 0.8rem 2.5rem;
                border-radius: 8px;
                border: none;
                width: 280px;
                border: 1px solid rgba(0, 0, 0, 0.15);

                &::placeholder {
                    font-size: 12px;
                }
            }

            &--search {
                position: absolute;
                left: 0.8rem;
                top: 0.8rem;
                color: vars.$toolbar-text-color;
            }
        }

        &__filter {
            color: vars.$purple-color;
            width: 50px;
            height: 30px;
            margin-left: 1.5rem;
        }
    }

    //CSS sur Mail
    .mail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 2px solid #EBEDF2;
        padding: 0 2rem;
        position:relative;
        height: 125px;

        &--active {
            background-color: #FDFEFE;
        }

        &:not(.mail--active):hover {
            background-color: rgba(#FDFEFE, 0.3);
        }

        &__title {
            display: flex;   

            h1 {
                width: 100%;
                font-weight: bold;
            }

            span {
                width: 100%;
                text-align: right;
                color: vars.$toolbar-text-color;
            }

            &--new {
                color: vars.$purple-color;
                display: inline-block;
                font-size: 12px;
                margin-left: 1rem;
            }

            &--tags {
                width: 10px;
                position: absolute;
                left: 10px;
            }

            &--star {
                width: 12px;
                margin-left: 0.3rem;
            }
        }

        h2 {
            margin: 0.7rem 0;
        }

        p {
            color: vars.$toolbar-text-color;
            padding-right: 5.5rem;
        }

        &__link {
            margin-bottom: 0.5rem;

            h2 {
                margin-bottom: 1.5rem;
            }

            &--psd{
                background-color: #F2F1FC;
                color: #9E85DA;
                padding: 0.4rem 0.6rem;
                border-radius: 10px;
                margin-right: 0.8rem;
            }

            &--doc{
                background-color: #FAE5D2;
                color: #BE9275;
                padding: 0.4rem 0.6rem;
                border-radius: 10px;
                margin-right: 0.8rem;
            }
        }


    }
}